{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | 苗韵琴行管理系统{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <img src="{% static 'img/logo.jpg' %}" alt="苗韵琴行" height="40px" style="margin-right: 10px;">
    苗韵琴行管理系统
</h1>
{% endblock %}

{% block nav-global %}{% endblock %} 
<div style="text-align: center; padding: 10px; color: #6c757d; margin-top: 20px;">© 2023 苗韵琴行. 保留所有权利. <a href="https://beian.miit.gov.cn/" target="_blank" style="color: #6c757d;">黔ICP备2025048659号</a></div>